{% extends "base.html" %}
{% load static %}
{% block article %}
<link rel="stylesheet" href="{% static 'asset/css/form.css' %}">
<article>
    <fieldset style="padding: 10px;padding-top: 0;">
    <legend style="text-align: left;"><h2>
        Write Something
    </h2></legend>
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div>
                {{form.as_p}}
            </div>
            <div class="submit">
                <button type="submit">Publish</button>
            </div>
        </form>
    </fieldset>
</article>
{% endblock article %}
{% block js %}
    <script>
        changetab(2)
    </script>
    {% endblock js %}